In [25]:
import time
import datetime

import matplotlib
matplotlib.use('agg')  # allows notebook to be tested in Travis

import numpy as np
import pandas as pd
import cartopy.crs as ccrs
import cartopy
import matplotlib.pyplot as plt
import pandana as pdna
import time

import urbanaccess as ua
from urbanaccess.config import settings
from urbanaccess.gtfsfeeds import feeds
from urbanaccess import gtfsfeeds
from urbanaccess.gtfs.gtfsfeeds_dataframe import gtfsfeeds_dfs
from urbanaccess.network import ua_network, load_network

from tqdm import tqdm

%matplotlib inline

In [26]:
# required bbox including all of Massachusetts and RI as well as parts of NH, CT, NY
bbox = (-73.7207, 41.1198, -69.7876, 43.1161)
# path to the downloaded and cleaned gtfs - mbta recap file for fall 2018
#   this could also be a folder of gtfs folders (pre merge of multiple gtfs)

path_to_gtfs = r"J:\Shared drives\TMD_TSA\Model\networks\Transit\gtfs\bnrd\1_gtfs_r"

In [27]:
loaded_feeds = ua.gtfs.load.gtfsfeed_to_df(gtfsfeed_path= path_to_gtfs,
                                           validation=True,
                                           verbose=True,
                                           bbox=bbox,
                                           remove_stops_outsidebbox=False,
                                           append_definitions=True)

Checking GTFS text file header whitespace... Reading files using encoding: utf-8 set in configuration.
GTFS text file header whitespace check completed. Took 0.46 seconds
--------------------------------
Processing GTFS feed: 1_gtfs_r
The unique agency id: mbta was generated using the name of the agency in the agency.txt file.
Unique agency id operation complete. Took 0.02 seconds
Unique GTFS feed id operation complete. Took 0.00 seconds
No GTFS feed stops were found to be outside the bounding box coordinates
1_gtfs_r GTFS feed stops: coordinates are in northwest hemisphere. Latitude = North (90); Longitude = West (-90).
Appended route type to stops
Appended route type to stop_times
--------------------------------
Added descriptive definitions to stops, routes, stop_times, and trips tables
Successfully converted ['departure_time'] to seconds past midnight and appended new columns to stop_times. Took 1.07 seconds
1 GTFS feed file(s) successfully read as dataframes:
     1_gtfs_r
     Took 2.74 seconds

### Functions

In [28]:
def get_start_stop_times(stop_times):    
    '''for every trip, grab the start time and stop time of the trip
    
    Parameters
    -----------
    stop_times : df
        gtfs stop_times.txt in df format

    Returns
    --------
        flintstone : df
            df with start and stop times per trip

    '''
    chocula =0 
    for trip_id in stop_times['trip_id'].unique():
        max_row = stop_times.query('trip_id==@trip_id').query('stop_sequence == stop_sequence.max()')[['trip_id','arrival_time']]
        min_row = stop_times.query('trip_id==@trip_id').query('stop_sequence == stop_sequence.min()')[['trip_id','arrival_time']]
        r2 = min_row.merge(max_row, how='left', on='trip_id', suffixes = ('_start','_end'))
        if chocula == 0:
            flintstone = pd.DataFrame(r2)
        else:
            flintstone=pd.concat([flintstone,r2])
        chocula +=1
    return(flintstone)

In [29]:
def assign_tod(start_stop):
    '''calculate midpoint of trip, use midpoint to assign TOD
    
    Parameters
    -----------
    start_stop : df
        df with start and stop times per trip

    Returns
    --------
    start_stop :
        df with start time, stop time, midpoint time, and TOD per trip

    '''
    
    start_stop['at_end_dec'] = (
        (
            (start_stop['arrival_time_end'].str.split(":").str[0]).astype('int32')
            +
            ((start_stop['arrival_time_end'].str.split(":").str[1]
            ).astype('int32')/60)))
    start_stop['at_start_dec'] = (
        (
            (start_stop['arrival_time_start'].str.split(":").str[0]).astype('int32')
            +
            ((start_stop['arrival_time_start'].str.split(":").str[1]
            ).astype('int32')/60)))
    
    start_stop['midpoint'] = start_stop['at_start_dec'] + ((start_stop['at_end_dec']-start_stop['at_start_dec'])/2)
    start_stop['tod'] = np.where(start_stop['midpoint'].between(6.50,9.50),'AM', np.where(
        start_stop['midpoint'].between(9.50,15.00), 'MD', np.where(
            start_stop['midpoint'].between(15.00,19.00),'PM', 'NT' 
        )
            ) 
        )
    
    return start_stop

In [30]:
start_stop = get_start_stop_times(gtfsfeeds_dfs.stop_times)

In [31]:
start_stop_tod = assign_tod(start_stop) # smurf

### Create Summaries Step 1

In [32]:
gtfsfeeds_dfs.trips['route_pattern_id'] = np.where(gtfsfeeds_dfs.trips['route_pattern_id'].isna(),gtfsfeeds_dfs.trips['shape_id'],gtfsfeeds_dfs.trips['route_pattern_id'])
gtfsfeeds_dfs.trips['trip_headsign'] = np.where(gtfsfeeds_dfs.trips['trip_headsign'].isna(),gtfsfeeds_dfs.trips['direction_id'],gtfsfeeds_dfs.trips['trip_headsign'])

In [33]:
nobuscr_routes = gtfsfeeds_dfs.routes.query('(route_type not in [2,3])')['route_id']
sls = gtfsfeeds_dfs.routes.query('route_short_name in ["SL1","SL2","SL3","SL5"]')['route_id']

In [24]:
gtfsfeeds_dfs.trips.query('route_id in @selected_routes')['route_pattern_id'].unique()

array(['Blue-6-0', 'Blue-8-0', 'Blue-6-1', 'Mattapan-_-0', 'Mattapan-_-1',
       'Orange-3-0', 'Orange-5-0', 'Orange-3-1', 'Red-1-0', 'Red-3-0',
       'Red-1-1', 'Red-3-1', 'Green-B-812-0', 'Green-B-812-1',
       'Green-C-832-0', 'Green-C-832-1', 'Green-D-851-0', 'Green-D-855-0',
       'Green-D-851-1', 'Green-D-855-1', 'Green-E-885-0', 'Green-E-885-1',
       'Boat-F1-1-0', 'Boat-F1-2-0', 'Boat-F1-3-0', 'Boat-F1-6-0',
       'Boat-F1-9-0', 'Boat-F1-1-1', 'Boat-F1-2-1', 'Boat-F1-3-1',
       'Boat-F1-4-1', 'Boat-F1-6-1', 'Boat-F4-0-0', 'Boat-F4-0-1'],
      dtype=object)

In [10]:
selected_routes = sls

In [11]:
# REDO
patterns = []
# flag the first stop in every trip
gtfsfeeds_dfs.stop_times['first_stop'] =  0
gtfsfeeds_dfs.stop_times.loc[gtfsfeeds_dfs.stop_times.groupby('trip_id').stop_sequence.idxmin(),'first_stop'] = 1

#chocula = 0
rpid_stop_dict = {}
# for each route_pattern_id calculate the most common stop pattern
for rpid in tqdm(gtfsfeeds_dfs.trips.query('route_id in @selected_routes')['route_pattern_id'].unique()):
    #patterns = []
    rpid_trips = gtfsfeeds_dfs.trips.query('route_pattern_id == @rpid')['trip_id'].to_list()
    rpid_stops = gtfsfeeds_dfs.stop_times.query('@rpid_trips in trip_id').sort_values('stop_sequence')
    
    # for every trip, get stop pattern and save into a list of lists
    for tid in rpid_stops['trip_id']:
        patterns.append([tid,', '.join(rpid_stops.query('trip_id == @tid')['stop_id'].to_list())])
    
# make data frame of every trip and its pattern of stops
df = pd.DataFrame(patterns, columns = ['trip_id','stop_pattern'])

100%|██████████| 34/34 [01:01<00:00,  1.80s/it]

In [12]:
df2 = df.merge(
    gtfsfeeds_dfs.trips, 
    on='trip_id')[['trip_id','route_id', 'route_pattern_id', 'trip_short_name','trip_headsign','service_id', 'stop_pattern']]
df3 = df2.merge(start_stop_tod, on='trip_id')
df4 = df3.groupby(by=['route_pattern_id','stop_pattern', 'trip_id','tod']).first()

#df4.to_csv(r"C:\Users\matkinson.AD\Downloads\trip_id_to_stop_pattern_filtered_w_tod.csv")

### Create Summaries Step 2

In [13]:
#gtfsfeeds_dfs.stops.query('stop_id in ')
df4['stop_names_pattern'] = pd.NA
df4 = df4.reset_index()

stops = {}
for a in df4.stop_pattern:
    x = a.strip('').split(', ')
    q = []
    for y in x:
        z = gtfsfeeds_dfs.stops.query('stop_id == @y')['stop_name'].to_list()[0]
        q.append(z)
        stops[y] = z
    filt = (df4['stop_pattern'] == a)
    df4.loc[filt,'stop_names_pattern'] = str(q)

In [14]:
df4['stop_names_pattern'] = df4['stop_names_pattern'].str.strip("[']").str.split("', '").apply(set)
df4[['route_pattern_id','stop_pattern','stop_names_pattern']]

,route_pattern_id,stop_pattern,stop_names_pattern
0,Blue-6-0,"70059, 70057, 70055, 70053, 70051, 70049, 7004...","{Orient Heights, Bowdoin, Wood Island, Wonderl..."
1,Blue-6-0,"70059, 70057, 70055, 70053, 70051, 70049, 7004...","{Orient Heights, Bowdoin, Wood Island, Wonderl..."
2,Blue-6-0,"70059, 70057, 70055, 70053, 70051, 70049, 7004...","{Orient Heights, Bowdoin, Wood Island, Wonderl..."
3,Blue-6-0,"70059, 70057, 70055, 70053, 70051, 70049, 7004...","{Orient Heights, Bowdoin, Wood Island, Wonderl..."
4,Blue-6-0,"70059, 70057, 70055, 70053, 70051, 70049, 7004...","{Orient Heights, Bowdoin, Wood Island, Wonderl..."
...,...,...,...
2713,Red-3-1,"70105, 70104, 70102, 70100, 70098, 70096, 7008...","{Park Street, JFK/UMass, Andrew, Harvard, Davi..."
2714,Red-3-1,"70105, 70104, 70102, 70100, 70098, 70096, 7008...","{Park Street, JFK/UMass, Andrew, Harvard, Davi..."
2715,Red-3-1,"70105, 70104, 70102, 70100, 70098, 70096, 7008...","{Park Street, JFK/UMass, Andrew, Harvard, Davi..."
2716,Red-3-1,"70105, 70104, 70102, 70100, 70098, 70096, 7008...","{Park Street, JFK/UMass, Andrew, Harvard, Davi..."
2717,Red-3-1,"70105, 70104, 70102, 70100, 70098, 70096, 7008...","{Park Street, JFK/UMass, Andrew, Harvard, Davi..."

In [15]:
fred = df4 #pd.read_csv(r"C:\Users\matkinson.AD\Downloads\trip_id_to_stop_pattern_filtered_w_tod.csv")

In [16]:
george = fred.set_index(['trip_id','route_pattern_id'])['stop_pattern'].str.split(',').apply(set)
harry = george.reset_index().groupby('route_pattern_id').apply(lambda x: set.union(*x.stop_pattern)).reset_index()

gg = fred.set_index(['trip_id','route_pattern_id'])['stop_names_pattern']
hh = gg.reset_index().groupby('route_pattern_id').apply(lambda x: set.union(*x.stop_names_pattern)).reset_index()
hh= hh.merge(harry, on='route_pattern_id', suffixes=['_names','_ids'])
harry

   route_pattern_id                                                  0
0          Blue-6-0  { 70043,  70039,  70838,  70051,  70053,  7004...
1          Blue-6-1  { 70044,  70056,  70040,  70046,  70050,  7005...
2          Blue-8-0  { 70049, 70051,  70043,  70047,  70039,  70838...
3       Boat-F1-1-0             { Boat-Hingham, Boat-Long,  Boat-Hull}
4       Boat-F1-1-1             {Boat-Hingham,  Boat-Long,  Boat-Hull}
5       Boat-F1-2-0                        { Boat-Hingham, Boat-Rowes}
6       Boat-F1-2-1                        { Boat-Rowes, Boat-Hingham}
7       Boat-F1-3-0                            {Boat-Long,  Boat-Hull}
8       Boat-F1-3-1                            {Boat-Hull,  Boat-Long}
9       Boat-F1-4-1            {Boat-Hingham,  Boat-Long,  Boat-Logan}
10      Boat-F1-6-0                         { Boat-Hingham, Boat-Long}
11      Boat-F1-6-1                         { Boat-Long, Boat-Hingham}
12      Boat-F1-9-0               {Boat-Long,  Boat-Hull,  Boat-Logan}
13      Boat-F4-0-0               { Boat-Charlestown, Boat-Long-South}
14      Boat-F4-0-1               { Boat-Long-South, Boat-Charlestown}
15    Green-B-812-0  { 70147,  70196,  70125,  70135,  70117,  1701...
16    Green-B-812-1  { 70126,  70112, 70106,  70128,  70154,  17013...
17    Green-C-832-0  { 70227,  70225,  70219,  70157,  70217,  7023...
18    Green-C-832-1  {70238,  70154,  70232,  70150,  70234,  70216...
19    Green-D-851-0  { 70187,  70179, 70206,  70198,  70157,  70161...
20    Green-D-851-1  { 70178,  70154,  70150,  70182,  70164,  7020...
21    Green-D-855-0  { 70175,  70165,  70187,  70151,  70179,  7017...
22    Green-D-855-1  { 70180,  70178,  70186,  70158,  70154,  7015...
23    Green-E-885-0  { 70199,  70249,  70251,  70206,  70253,  7024...
24    Green-E-885-1  { 70252,  70244,  70154,  70250,  70205,  7020...
25     Mattapan-_-0  { 70263,  70273,  70267,  70269,  70265,  7027...
26     Mattapan-_-1  { 70268, 70276,  70266,  70270,  70264,  70274...
27       Orange-3-0  { 70020,  70014,  70022,  70278,  70016,  7000...
28       Orange-3-1  { 70011,  70027,  70017,  70003,  70025, 70001...
29       Orange-5-0  { 70026,  70020,  70024,  70014,  70022,  7002...
30          Red-1-0  { 70081,  70083,  70089,  70091,  70067,  7007...
31          Red-1-1  { 70078,  70070, 70094,  70082,  70064,  70066...
32          Red-3-0  { 70081,  70083,  70103,  70095,  70101,  7010...
33          Red-3-1  { 70078,  70100,  70070, 70105,  70082,  70104...

In [17]:
stops_dict = {}
for rpid in harry['route_pattern_id']:
    ron = list(harry.query('route_pattern_id == @rpid')[0].to_list()[0])
    ron = [item.strip() for item in ron]

    trips_tod = fred.query('route_pattern_id == @rpid')[['trip_id','tod']]

    hermy = pd.DataFrame(data = trips_tod, columns = ['trip_id','tod']+ron)
    hermy = hermy.set_index('trip_id')

    for trip in hermy.index:
        for sp in fred.query('trip_id == @trip').set_index('trip_id')['stop_pattern'].str.split(',').reset_index()['stop_pattern']:
            #print(sp)
            for stop in sp:
                stop = stop.strip()
                #print(stop)
                if stop in hermy.columns:
                    hermy.at[trip,stop] = 1

    hermy = hermy.reset_index().merge(fred[['trip_id','route_pattern_id','stop_pattern']].query('route_pattern_id == @rpid'), on='trip_id')
    stops_dict[rpid] = hermy

In [18]:
for key in stops_dict:
    a =stops_dict[key].groupby(by=['route_pattern_id','tod','stop_pattern']).count().reset_index()
    
    b = a.groupby(['stop_pattern','route_pattern_id']).first().drop(['tod','trip_id'], axis=1)
    c = b/b
    a = a.pivot(index=['route_pattern_id','stop_pattern'], columns=['tod'], values = 'trip_id').reset_index()

    tod_list = [x for x in ["AM","MD","PM","NT"] if x not in a.columns.to_list()]
    if len(tod_list) > 0:
        a[tod_list] = 0

    subaru = gtfsfeeds_dfs.stop_times.merge(stops_dict[key][['route_pattern_id','trip_id',]], on='trip_id')[['route_pattern_id','stop_id','stop_sequence']]
    sub_stops = subaru.groupby(by=['stop_id','stop_sequence']).count().reset_index().groupby(by=['stop_id']).agg({'stop_sequence':'max'}).sort_values(by = 'stop_sequence')

    stops_dict[key] = a.merge(c[sub_stops.index.to_list()].reset_index(), on=['route_pattern_id','stop_pattern'])

key_dict = {}
for key in stops_dict:
    key_parts = key.split('-')
    if len(key_parts) > 2:
        key_parts.pop(2)
        partial = '-'.join(key_parts)
    else:
        partial=key_parts[0]

    if partial in key_dict.keys():
        key_dict[partial].append(key)
    else:
        key_dict[partial] = [key]

In [19]:
final_tables_dict = {}
#summarized key in dictionary of keys
for key in key_dict:
    # if more than one real key associated with the summarized key
    if len(key_dict[key]) > 1:
        fred1 = []
        # for each real key, grab table, and append to list
        for x in range(len(key_dict[key])):
            heebee = stops_dict[key_dict[key][x]].loc[:,~stops_dict[key_dict[key][x]].columns.duplicated()]
            fred1.append(heebee)
        
        # sort tables by number of columns
        
        # concat all real key tables per summarized key
        gee = pd.concat(fred1, axis = 0)
        print(gee)
    else:
        gee = stops_dict[key_dict[key][0]]
    
    final_tables_dict[key] = gee

  route_pattern_id                                       stop_pattern  AM  MD  \
0         Blue-6-0  70059, 70057, 70055, 70053, 70051, 70049, 7004...  36  44
0         Blue-6-1  70038, 70040, 70042, 70044, 70046, 70048, 7005...  36  44

   NT  PM  70059  70057  70055  70053  ...  70042  70044  70046  70048  70050  \
0  53  47    1.0    1.0    1.0    1.0  ...    NaN    NaN    NaN    NaN    NaN
0  52  48    NaN    NaN    NaN    NaN  ...    1.0    1.0    1.0    1.0    1.0

   70052  70054  70056  70058  70060
0    NaN    NaN    NaN    NaN    NaN
0    1.0    1.0    1.0    1.0    1.0

[2 rows x 30 columns]
  route_pattern_id                        stop_pattern  MD  NT  PM  AM  \
0      Boat-F1-1-0  Boat-Long, Boat-Hull, Boat-Hingham   2   1   4   0
0      Boat-F1-2-0            Boat-Rowes, Boat-Hingham   1   2   6   4
0      Boat-F1-3-0                Boat-Long, Boat-Hull   0   0   1   2
0      Boat-F1-6-0             Boat-Long, Boat-Hingham   3   1   0   0
0      Boat-F1-9-0    Boat-Long, Boat-Logan, Boat-Hull   0   0   0   2

   Boat-Long  Boat-Hull  Boat-Hingham  Boat-Rowes  Boat-Logan
0        1.0        1.0           1.0         NaN         NaN
0        NaN        NaN           1.0         1.0         NaN
0        1.0        1.0           NaN         NaN         NaN
0        1.0        NaN           1.0         NaN         NaN
0        1.0        1.0           NaN         NaN         1.0
  route_pattern_id                         stop_pattern  AM  MD  NT  PM  \
0      Boat-F1-1-1   Boat-Hingham, Boat-Hull, Boat-Long   1   1   1   0
0      Boat-F1-2-1             Boat-Hingham, Boat-Rowes   5   2   1   5
0      Boat-F1-3-1                 Boat-Hull, Boat-Long   4   0   0   1
0      Boat-F1-4-1  Boat-Hingham, Boat-Logan, Boat-Long   0   1   0   1
0      Boat-F1-6-1              Boat-Hingham, Boat-Long   0   2   2   2

   Boat-Hingham  Boat-Hull  Boat-Long  Boat-Rowes  Boat-Logan
0           1.0        1.0        1.0         NaN         NaN
0           1.0        NaN        NaN         1.0         NaN
0           NaN        1.0        1.0         NaN         NaN
0           1.0        NaN        1.0         NaN         1.0
0           1.0        NaN        1.0         NaN         NaN
  route_pattern_id                                       stop_pattern  AM  MD  \
0    Green-D-851-0  70206, 70204, 70202, 70198, 70159, 70157, 7015...  21  41
0    Green-D-855-0  70504, 70502, 70208, 70206, 70204, 70202, 7019...   0   0

   NT  PM  70206  70204  70202  70198  ...  70173  70171  70169  70167  70165  \
0  47  29    1.0    1.0    1.0    1.0  ...    1.0    1.0    1.0    1.0    1.0
0   1   0    1.0    1.0    1.0    1.0  ...    1.0    1.0    1.0    1.0    1.0

   70163  70161  70504  70502  70208
0    1.0    1.0    NaN    NaN    NaN
0    1.0    1.0    1.0    1.0    1.0

[2 rows x 31 columns]
  route_pattern_id                                       stop_pattern  AM  MD  \
0    Green-D-851-1  70160, 70162, 70164, 70166, 70168, 70170, 7017...  23  40
0    Green-D-855-1  70160, 70162, 70164, 70166, 70168, 70170, 7017...   1   0

   NT  PM  70160  70162  70164  70166  ...  70154  70156  70158  70200  70201  \
0  45  30    1.0    1.0    1.0    1.0  ...    1.0    1.0    1.0    1.0    1.0
0   0   0    1.0    1.0    1.0    1.0  ...    1.0    1.0    1.0    1.0    1.0

   70203  70205  70207  70501  70503
0    1.0    1.0    NaN    NaN    NaN
0    1.0    1.0    1.0    1.0    1.0

[2 rows x 31 columns]
  route_pattern_id                                       stop_pattern  AM  MD  \
0     Mattapan-_-0  70261, 70263, 70265, 70267, 70269, 70271, 7027...  33  47
0     Mattapan-_-1  70276, 70274, 70272, 70270, 70268, 70266, 7026...  33  48

   NT  PM  70261  70263  70265  70267  ...  70271  70273  70275  70276  70274  \
0  36  47    1.0    1.0    1.0    1.0  ...    1.0    1.0    1.0    NaN    NaN
0  36  46    1.0    NaN    NaN    NaN  ...    NaN    NaN    NaN    1.0    1.0

   70272  70270  70268  70266  70264
0    NaN    NaN    NaN    NaN    NaN
0    1.0    1.0    1.0    1.0    1.0

[2 rows x 21 columns]
  route_pattern_id                                       stop_pattern  AM  MD  \
0       Orange-3-0  70036, 70034, 70032, 70278, 70030, 70028, 7002...  27  45
0       Orange-3-1  70001, 70003, 70005, 70007, 70009, 70011, 7001...  27  45

   NT  PM  70036  70034  70032  70278  ...  70019  70021  70023  70025  70027  \
0  46  37    1.0    1.0    1.0    1.0  ...    NaN    NaN    NaN    NaN    NaN
0  48  38    1.0    NaN    NaN    NaN  ...    1.0    1.0    1.0    1.0    1.0

   70029  70031  70279  70033  70035
0    NaN    NaN    NaN    NaN    NaN
0    1.0    1.0    1.0    1.0    1.0

[2 rows x 44 columns]
  route_pattern_id                                       stop_pattern  AM  MD  \
0          Red-1-0  70061, 70063, 70065, 70067, 70069, 70071, 7007...  20  27
0          Red-1-1  70094, 70092, 70090, 70088, 70086, 70084, 7008...  21  26

   NT  PM  70061  70063  70065  70067  ...  70082  70080  70078  70076  70074  \
0  35  26    1.0    1.0    1.0    1.0  ...    NaN    NaN    NaN    NaN    NaN
0  34  27    1.0    NaN    NaN    NaN  ...    1.0    1.0    1.0    1.0    1.0

   70072  70070  70068  70066  70064
0    NaN    NaN    NaN    NaN    NaN
0    1.0    1.0    1.0    1.0    1.0

[2 rows x 39 columns]
  route_pattern_id                                       stop_pattern  AM  MD  \
0          Red-3-0  70061, 70063, 70065, 70067, 70069, 70071, 7007...  20  30
0          Red-3-1  70105, 70104, 70102, 70100, 70098, 70096, 7008...  22  28

   NT  PM  70061  70063  70065  70067  ...  70082  70080  70078  70076  70074  \
0  36  29    1.0    1.0    1.0    1.0  ...    NaN    NaN    NaN    NaN    NaN
0  35  30    1.0    NaN    NaN    NaN  ...    1.0    1.0    1.0    1.0    1.0

   70072  70070  70068  70066  70064
0    NaN    NaN    NaN    NaN    NaN
0    1.0    1.0    1.0    1.0    1.0

[2 rows x 40 columns]

In [20]:
stops

{'70059': 'Wonderland',
 '70057': 'Revere Beach',
 '70055': 'Beachmont',
 '70053': 'Suffolk Downs',
 '70051': 'Orient Heights',
 '70049': 'Wood Island',
 '70047': 'Airport',
 '70045': 'Maverick',
 '70043': 'Aquarium',
 '70041': 'State',
 '70039': 'Government Center',
 '70838': 'Bowdoin',
 '70038': 'Bowdoin',
 '70040': 'Government Center',
 '70042': 'State',
 '70044': 'Aquarium',
 '70046': 'Maverick',
 '70048': 'Airport',
 '70050': 'Wood Island',
 '70052': 'Orient Heights',
 '70054': 'Suffolk Downs',
 '70056': 'Beachmont',
 '70058': 'Revere Beach',
 '70060': 'Wonderland',
 'Boat-Long': 'Long Wharf (North)',
 'Boat-Hull': 'Hull',
 'Boat-Hingham': 'Hingham',
 'Boat-Rowes': 'Rowes Wharf',
 'Boat-Logan': 'Logan Airport Ferry Terminal',
 'Boat-Long-South': 'Long Wharf (South)',
 'Boat-Charlestown': 'Charlestown',
 '70202': 'Government Center',
 '70196': 'Park Street',
 '70159': 'Boylston',
 '70157': 'Arlington',
 '70155': 'Copley',
 '70153': 'Hynes Convention Center',
 '71151': 'Kenmore',
 '70149': 'Blandford Street',
 '70147': 'Boston University East',
 '70145': 'Boston University Central',
 '170141': 'Amory Street',
 '170137': 'Babcock Street',
 '70135': "Packard's Corner",
 '70131': 'Harvard Avenue',
 '70129': 'Griggs Street',
 '70127': 'Allston Street',
 '70125': 'Warren Street',
 '70121': 'Washington Street',
 '70117': 'Sutherland Road',
 '70115': 'Chiswick Road',
 '70113': 'Chestnut Hill Avenue',
 '70111': 'South Street',
 '70107': 'Boston College',
 '70106': 'Boston College',
 '70110': 'South Street',
 '70112': 'Chestnut Hill Avenue',
 '70114': 'Chiswick Road',
 '70116': 'Sutherland Road',
 '70120': 'Washington Street',
 '70124': 'Warren Street',
 '70126': 'Allston Street',
 '70128': 'Griggs Street',
 '70130': 'Harvard Avenue',
 '70134': "Packard's Corner",
 '170136': 'Babcock Street',
 '170140': 'Amory Street',
 '70144': 'Boston University Central',
 '70146': 'Boston University East',
 '70148': 'Blandford Street',
 '71150': 'Kenmore',
 '70152': 'Hynes Convention Center',
 '70154': 'Copley',
 '70156': 'Arlington',
 '70158': 'Boylston',
 '70200': 'Park Street',
 '70201': 'Government Center',
 '70197': 'Park Street',
 '70151': 'Kenmore',
 '70211': "Saint Mary's Street",
 '70213': 'Hawes Street',
 '70215': 'Kent Street',
 '70217': 'Saint Paul Street',
 '70219': 'Coolidge Corner',
 '70223': 'Summit Avenue',
 '70225': 'Brandon Hall',
 '70227': 'Fairbanks Street',
 '70229': 'Washington Square',
 '70231': 'Tappan Street',
 '70233': 'Dean Road',
 '70235': 'Englewood Avenue',
 '70237': 'Cleveland Circle',
 '70238': 'Cleveland Circle',
 '70236': 'Englewood Avenue',
 '70234': 'Dean Road',
 '70232': 'Tappan Street',
 '70230': 'Washington Square',
 '70228': 'Fairbanks Street',
 '70226': 'Brandon Hall',
 '70224': 'Summit Avenue',
 '70220': 'Coolidge Corner',
 '70218': 'Saint Paul Street',
 '70216': 'Kent Street',
 '70214': 'Hawes Street',
 '70212': "Saint Mary's Street",
 '70150': 'Kenmore',
 '70206': 'North Station',
 '70204': 'Haymarket',
 '70198': 'Park Street',
 '70187': 'Fenway',
 '70183': 'Longwood',
 '70181': 'Brookline Village',
 '70179': 'Brookline Hills',
 '70177': 'Beaconsfield',
 '70175': 'Reservoir',
 '70173': 'Chestnut Hill',
 '70171': 'Newton Centre',
 '70169': 'Newton Highlands',
 '70167': 'Eliot',
 '70165': 'Waban',
 '70163': 'Woodland',
 '70161': 'Riverside',
 '70160': 'Riverside',
 '70162': 'Woodland',
 '70164': 'Waban',
 '70166': 'Eliot',
 '70168': 'Newton Highlands',
 '70170': 'Newton Centre',
 '70172': 'Chestnut Hill',
 '70174': 'Reservoir',
 '70176': 'Beaconsfield',
 '70178': 'Brookline Hills',
 '70180': 'Brookline Village',
 '70182': 'Longwood',
 '70186': 'Fenway',
 '70203': 'Haymarket',
 '70205': 'North Station',
 '70504': 'Union Square',
 '70502': 'Lechmere',
 '70208': 'Science Park/West End',
 '70207': 'Science Park/West End',
 '70501': 'Lechmere',
 '70503': 'Union Square',
 '70199': 'Park Street',
 '70239': 'Prudential',
 '70241': 'Symphony',
 '70243': 'Northeastern University',
 '70245': 'Museum of Fine Arts',
 '70247': 'Longwood Medical Area',
 '70249': 'Brigham Circle',
 '70251': 'Fenwood Road',
 '70253': 'Mission Park',
 '70255': 'Riverway',
 '70257': 'Back of the Hill',
 '70260': 'Heath Street',
 '70258': 'Back of the Hill',
 '70256': 'Riverway',
 '70254': 'Mission Park',
 '70252': 'Fenwood Road',
 '70250': 'Brigham Circle',
 '70248': 'Longwood Medical Area',
 '70246': 'Museum of Fine Arts',
 '70244': 'Northeastern University',
 '70242': 'Symphony',
 '70240': 'Prudential',
 '70261': 'Ashmont',
 '70263': 'Cedar Grove',
 '70265': 'Butler',
 '70267': 'Milton',
 '70269': 'Central Avenue',
 '70271': 'Valley Road',
 '70273': 'Capen Street',
 '70275': 'Mattapan',
 '70276': 'Mattapan',
 '70274': 'Capen Street',
 '70272': 'Valley Road',
 '70270': 'Central Avenue',
 '70268': 'Milton',
 '70266': 'Butler',
 '70264': 'Cedar Grove',
 '70036': 'Oak Grove',
 '70034': 'Malden Center',
 '70032': 'Wellington',
 '70278': 'Assembly',
 '70030': 'Sullivan Square',
 '70028': 'Community College',
 '70026': 'North Station',
 '70024': 'Haymarket',
 '70022': 'State',
 '70020': 'Downtown Crossing',
 '70018': 'Chinatown',
 '70016': 'Tufts Medical Center',
 '70014': 'Back Bay',
 '70012': 'Massachusetts Avenue',
 '70010': 'Ruggles',
 '70008': 'Roxbury Crossing',
 '70006': 'Jackson Square',
 '70004': 'Stony Brook',
 '70002': 'Green Street',
 '70001': 'Forest Hills',
 '70003': 'Green Street',
 '70005': 'Stony Brook',
 '70007': 'Jackson Square',
 '70009': 'Roxbury Crossing',
 '70011': 'Ruggles',
 '70013': 'Massachusetts Avenue',
 '70015': 'Back Bay',
 '70017': 'Tufts Medical Center',
 '70019': 'Chinatown',
 '70021': 'Downtown Crossing',
 '70023': 'State',
 '70025': 'Haymarket',
 '70027': 'North Station',
 '70029': 'Community College',
 '70031': 'Sullivan Square',
 '70279': 'Assembly',
 '70033': 'Wellington',
 '70035': 'Malden Center',
 '70061': 'Alewife',
 '70063': 'Davis',
 '70065': 'Porter',
 '70067': 'Harvard',
 '70069': 'Central',
 '70071': 'Kendall/MIT',
 '70073': 'Charles/MGH',
 '70075': 'Park Street',
 '70077': 'Downtown Crossing',
 '70079': 'South Station',
 '70081': 'Broadway',
 '70083': 'Andrew',
 '70085': 'JFK/UMass',
 '70087': 'Savin Hill',
 '70089': 'Fields Corner',
 '70091': 'Shawmut',
 '70093': 'Ashmont',
 '70094': 'Ashmont',
 '70092': 'Shawmut',
 '70090': 'Fields Corner',
 '70088': 'Savin Hill',
 '70086': 'JFK/UMass',
 '70084': 'Andrew',
 '70082': 'Broadway',
 '70080': 'South Station',
 '70078': 'Downtown Crossing',
 '70076': 'Park Street',
 '70074': 'Charles/MGH',
 '70072': 'Kendall/MIT',
 '70070': 'Central',
 '70068': 'Harvard',
 '70066': 'Porter',
 '70064': 'Davis',
 '70095': 'JFK/UMass',
 '70097': 'North Quincy',
 '70099': 'Wollaston',
 '70101': 'Quincy Center',
 '70103': 'Quincy Adams',
 '70105': 'Braintree',
 '70104': 'Quincy Adams',
 '70102': 'Quincy Center',
 '70100': 'Wollaston',
 '70098': 'North Quincy',
 '70096': 'JFK/UMass'}

In [21]:
for key in final_tables_dict:
    for col in final_tables_dict[key]:
        if col in stops:
            final_tables_dict[key] = final_tables_dict[key].rename(columns = {col:stops[col]})

In [22]:
for key in final_tables_dict:
    final_tables_dict[key].to_csv(r"C:\Users\matkinson.AD\Downloads\\"+key+".csv")